@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #1F375D;
    --secondary-color: #0088CC;
    --accent-color: #1D2127;
    --highlight-color: #7B858A;
    --background-color: #F2F2F2;
  }
}

@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
