@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

@layer base {
  :root {
    --primary-color: #1F375D;
    --secondary-color: #0088CC;
    --accent-color: #1d2127e4;
    --highlight-color: #cbcbcb;
    --background-color: #F2F2F2;
  }
}

@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

/* hide input number arrowa   */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}